html,
body {
    height: 100%;
}


/* 整个body变成弹性盒子 */

body {
    display: flex;
    flex-direction: column;
}


/* 中部 */

.formCenter {
    flex-grow: 1;
}


/* 脚部空间 */

.layout_buttom {
    height: 86px;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 8px;
}

table tbody tr {
    height: 28px;
    margin: 0px;
    padding: 0px;
}

.td1 {
    width: 60%
}

.td2 {
    width: 40%;
}

input {
    height: 26px;
}

table tbody tr td input {
    height: 26px;
    width: 100%;
}