html,
body {
    height: 100%;
}


/* 整个body变成弹性盒子 */

body {
    display: flex;
    flex-direction: column;
}


/* 中部 */

.formCenter {
    flex-grow: 1;
}


/* 脚部空间 */

.layout_buttom {
    height: 86px;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 8px;
}

input {
    height: 26px;
}